img {
    width: 25%;
    margin: 10px;
    border: solid 2px black;
}
h1 {
    margin: 120px;
    text-transform: uppercase;
}
body {
    font-family: sans-serif;
}
input {
    background:0;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}